<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta property="og:url"                content="http://ancient-shore-97091.herokuapp.com/app" />
    <meta property="og:title"              content="New Post From The Venligboerne App" />
    <meta property="og:description"        content="Download it Today!" />
    <meta property="og:image"              content="img/herokulogo.png" />
    <meta property="fb:app_id"             content="779997095515783" />

    <link href="css/bootstrap.min.css" rel="stylesheet">
    <!-- Custom CSS -->
    <link href="css/app-redirect.css" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Lato:300,400,700,300italic,400italic,700italic" rel="stylesheet" type="text/css">

    <title>Venligboerne App</title>

    <script src="js/deeplink.js"></script>
  </head>
  <body>
    <a name="about"></a>
    <div class="intro-header">
        <div class="container">
            <div class="row" style="height: 60px">
            </div>
            <div class="row">
                <div class="col-lg-12">
                    <div class="intro-message">
                        <h1>Venligboerne App</h1>
                        <h3>Someone sent you a link to a post in the Venligboerne app. Install it to see the post!</h3>
                        <hr class="intro-divider">
                        <ul class="list-inline appstore-buttons">
                            <li>
                                <a href="https://itunes.apple.com/us/app/venligboerne/id1263035197">
                                	<img width="250" src="http://venligboerne.dk/wp-content/uploads/2017/08/IOSAppStore.png" />
                                </a>
                            </li>
                            <li>
                                <a href="https://play.google.com/store/apps/details?id=com.venligboerne.app">
                                	<img width="250" src="http://venligboerne.dk/wp-content/uploads/2017/08/google-play-badge.png" />
                                </a>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
            <div class="row" style="height: 60px">
        </div>
        <!-- /.container -->
    </div>
    <!-- /.intro-header -->

    <script src="js/jquery-3.2.1.min.js"></script>
    <script src="js/bootstrap.min.js"></script>
  </body>
</html>
