<!DOCTYPE html>
<html>

<head>
    <!-- Meta -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="author" content="Mitchell Sayer">

    <!-- Title -->
    <title>Venligboerne - Add New Language</title>

    <!-- Fonts -->
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <link href='https://fonts.googleapis.com/css?family=Karla:400,700' rel='stylesheet' type='text/css'>

    <!-- CSS -->
    <link href="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.97.5/css/materialize.min.css" rel='stylesheet' type='text/css'>
    <link href="css/site.css" rel='stylesheet' type='text/css'>

    <!-- JS -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/angular.js/1.5.0/angular.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/2.2.0/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.97.5/js/materialize.min.js"></script>
    <!-- Firebase -->
    <script src="https://www.gstatic.com/firebasejs/3.6.6/firebase.js"></script>
    <!-- AngularFire -->
    <script src="https://cdn.firebase.com/libs/angularfire/2.3.0/angularfire.min.js"></script>

    <!-- Angular -->
    <script src="js/app.js"></script>
</head>

<body ng-app="app" ng-controller="appController" ng-cloak>
  <main>
    <div class="container">
      <h1 class="center-align">Add New Language</h1>
      <div class="col s12">
          <div class="row">
              <form id="add-languageOption-form" class="col s12" ng-submit="addLanguageOption()">
                  <div class="row">
                      <div class="input-field col s12">
                          <input id="name" type="text" ng-model="languageOption.name" required>
                          <label for="name">Language Name</label>
                      </div>
                  </div>
                  <h5 style="color: grey">Select Flag Image</h5>
                  <input
                    ng-model="photo"
                    onchange="angular.element(this).scope().file_changed(this, '', '', 'languageOptionFlags', '')"
                    type="file" accept="image/*"
                  />
                  <div class="row">
                      <div class="col m12">
                          <div class="button-padding"></div>
                          <p class="center-align">
                              <button id="signup-button" class="btn btn-large waves-effect waves-light blue darken-2" type="submit">Add Language</button>
                          </p>
                      </div>
                  </div>
              </form>
          </div>
      </div>
    </div>
  </main>
</body>
